<nav class="flex justify-between items-center center absolute w-100">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w30 flex-none no-underline">
		Smartphone Companions
	</a>

  <!-- LINKS / MENU  -->
  <div id="menu" class="static-ns absolute mt6 mt0-ns left-100 w-50 h-100 w-100-ns tr z-999">
    <a href="/companions" class="tr tl-ns db dib-ns pa3 no-underline" >Companions</a>
    <a href="/workshops" class="tr tl-ns db dib-ns pa3 no-underline" >Workshops</a>
		<a href="/resources" class="tr tl-ns db dib-ns pa3 no-underline" >Resources</a>
		<a href="/about" class="tr tl-ns db dib-ns pa3 no-underline" >About</a>
  </div>

  <!--  EXPAND MENU BUTTON  -->
  <a href="#" id="menu-btn" class="dtc tr v-mid dn-ns w-third pr2 p0-ns no-underline">
    Menu
  </a>
</nav>
